---
title: "DYME | Design Your Music Event - Music Agency for Events"
description: "DYME è la scelta giusta dove è richiesta una performance musicale di alto livello."
---
    <div id="logo-container">
      <div id="logo-group">
        <img src="/images/logo_DYME_MusicAgency.png" alt="DYME Music Agency">
        <div id="main-title-group">
          <h1 class="slide-in"><span class="underlineAnim">Design your music with us</span></h1>
          <p class="slide-in">We’re a team of <strong>professional musicians</strong> experienced in finding musical solutions suitable for every occasion.</p>
        </div>
      </div>
    </div>
    <section class="business-unit-section">
        <%= partial(:'partials/card-big', :locals => {
          :cardTitle => "WEDDINGS",
          :id => "card-weddings",
          :ancorUrl => "#weddings",
          :listItem1 => {
            :text => "CEREMONY",
            :url => "/en/weddings/ceremony.html"
          },
          :listItem2 => {
            :text => "COCKTAIL HOUR",
            :url => "/en/weddings/cocktail-hour.html"
          },
          :listItem3 => {
            :text => "PARTY",
            :url => "/en/weddings/party.html"
          }
        }) %>
        <%= partial(:'partials/card-big', :locals => {
          :cardTitle => "EVENTS",
          :id => "card-events",
          :ancorUrl => "#events",
          :listItem1 => {
            :text => "COCKTAIL",
            :url => "/en/events/cocktail.html"
          },
          :listItem2 => {
            :text => "CORPORATE",
            :url => "/en/events/corporate.html"
          },
          :listItem3 => {
            :text => "ANNIVERSARY",
            :url => "/en/events/anniversary.html"
          }
        }) %>
        <%= partial(:'partials/card-horiz-en', :locals => {
          :cardTitle => "ADDITIONAL SERVICES",
          :id => "card-extra-services",
          :listItem1 => {
            :text => "CHILD CARE",
            :url => "/en/extra-services/index.html"
          },
          :listItem2 => {
            :text => "AUDIO EQUIPMENT",
            :url => "/en/extra-services/index.html"
          },
          :listItem3 => {
            :text => "LIGHT EQUIPMENT",
            :url => "/en/extra-services/index.html"
          }
        }) %>
    </section>
    <section id="weddings" class="business-unit-section page-section">
      <div class="bg-section-img"></div>
      <h2><span class="underline">WEDDINGS</span></h2>
      <p>Are you planning a <em>wedding</em>? Are you the romantic type looking for
just the <em>right music</em> to walk down the aisle to? Are you the spirited type
wanting to give your ceremony that <em>touch of liveliness</em>?
Let us help you decide on the <em>perfect music for your big day</em>!</p>
      <div class="card-container">
        <%= partial(:'partials/card-single', :locals => {
            :cta => "FIND OUT MORE",
            :cardTitle => "CEREMONY",
            :id => "card-cerimony",
            :bgImg => "/images/cerimonies_preview.jpg",
            :text => "Make your special day unforgettable",
            :url => "/en/weddings/ceremony.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cta => "FIND OUT MORE",
            :cardTitle => "COCKTAIL HOUR",
            :id => "card-aperitif",
            :bgImg => "/images/aperitif_preview.jpg",
            :text => "Cocktail hour deserves its own sound",
            :url => "/en/weddings/cocktail-hour.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cta => "FIND OUT MORE",
            :cardTitle => "PARTY",
            :id => "card-party",
            :bgImg => "/images/party_preview.jpg",
            :text => "Let loose with your guests",
            :url => "/en/weddings/party.html"
          }) %>
      </div>
    </section>
    <section id="events" class="page-section">
      <div class="bg-section-img"></div>
      <h2><span class="underline">EVENTS</span></h2>
      <p>Are you organizing an <em>event</em>?<br>
      The choice of music entertainment can make all the difference: let DYME MUSIC handle it!
      </p>
      <div class="card-container">
        <%= partial(:'partials/card-single', :locals => {
            :cta => "FIND OUT MORE",
            :cardTitle => "COCKTAIL",
            :id => "card-cocktail",
            :bgImg => "/images/cocktail_preview.jpg",
            :text => "Personalize your event with a unique sound",
            :url => "/en/events/cocktail.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cta => "FIND OUT MORE",
            :cardTitle => "CORPORATE",
            :id => "card-business",
            :bgImg => "/images/business_preview.jpg",
            :text => "Impress everyone with the right music",
            :url => "/en/events/corporate.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cta => "FIND OUT MORE",
            :cardTitle => "ANNIVERSARY",
            :id => "card-anniversary",
            :bgImg => "/images/anniversary_preview.jpg",
            :text => "Make it a day to remember",
            :url => "/en/events/anniversary.html"
          }) %>
      </div>
    </section>
    <section id="gallery" class="page-section">
      <h2><span class="underline">GALLERY</span></h2>
      <p>Music is a picture you can see with your eyes closed.</p>
      <div class="gallery-container">
        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <%
              images = [
                {img: "dyme_01.jpg", alt: "Dyma music Agency"},
                {img: "dyme_02.jpg", alt: "Dyma music Agency"},
                {img: "dyme_03.jpg", alt: "Dyma music Agency"},
                {img: "dyme_04.jpg", alt: "Dyma music Agency"},
                {img: "dyme_05.jpg", alt: "Dyma music Agency"},
                {img: "dyme_06.jpg", alt: "Dyma music Agency"},
                {img: "dyme_07.jpg", alt: "Dyma music Agency"},
                {img: "dyme_08.jpg", alt: "Dyma music Agency"},
                {img: "dyme_09.jpg", alt: "Dyma music Agency"},
                {img: "dyme_10.jpg", alt: "Dyma music Agency"},
                {img: "dyme_11.jpg", alt: "Dyma music Agency"},
                {img: "dyme_12.jpg", alt: "Dyma music Agency"},
              ]
              images.each do |slide|
             %>
            <div class="swiper-slide">
              <div class="imgBx">
                <img src="/images/gallery/<%= slide[:img] %>" alt="<%= slide[:alt] %>">
              </div>
            </div>
            <% end %>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <section id="chi-siamo" class="page-section">
      <h2><span class="underline">WHO WE ARE</span></h2>
      <p>A team of curious, creative and enthusiastic artists determined to improve
the entertainment quality of your event, once and for all making your choice of
music simple and economical!</p>
      <!-- <img id="map" src="/images/map.jpg" alt="Mappa di dove lavoriamo."> -->
    </section>
    <section id="contacts" class="page-section">
      <h2><span class="underline">CONTACT US</span></h2>
      <div id="social-contacts">
        <div class="social-btns">
          <a href="https://www.facebook.com/DesignYourMusicEvents/" target="_blank"><img src="/images/logo_facebook.svg" alt="facebook"></a>
          <a href="https://www.instagram.com/dymemusic/" target="_blank"><img src="/images/logo_instagram.svg" alt="instagram"></a>
          <a href="https://www.matrimonio.com/musica-matrimonio/dyme-music--e155305" target="_blank"><img src="/images/logo_matrimoni.svg" alt="matrimoni.it"></a>
          <a href="https://www.linkedin.com/in/dyme-music-agency-286301126/" target="_blank"><img src="/images/logo_linkedin.svg" alt="linkedin"></a>
        </div>
        <a href="mailto:dyme.music@gmail.com" target="_blank" class="email-link">dyme.music@gmail.com <div class="icon-arrow arrow-card"></div></a>
      </div>
      <div class="card-container">
        <%= partial(:'partials/card-contact', :locals => {
          :cardTitle => "LORENZO<br>BONGIOVANNI",
          :bgImg => "/images/lorenzo-bongiovanni.jpg",
          :phone => "+39 393 485 7805"
        }) %>
        <%= partial(:'partials/card-contact', :locals => {
          :cardTitle => "DAVIDE<br>MOSCA",
          :bgImg => "/images/davide-mosca.jpg",
          :phone => "+39 340 177 5252"
        }) %>
      </div>
    </section>
    <hr id="awards-divider">
