<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= partial 'partials/google-analytics' %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "DYME | Design Your Music Event" %></title>
    <meta name="description" content='<%= current_page.data.description || "La scelta giusta dove è richiesta una performance musicale di alto livello." %>'>
    <%= partial 'partials/meta-social' %>
    <%= partial 'partials/favicon' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="body-menu">
    <div class="page-loader">
      <img src="/images/logo_DYME_MusicAgency.png" alt="">
      <hr>
    </div>
    <%= partial "partials/nav" %>
    <img id="bg-hp-img" src="/images/bg_violin.jpg" alt="Violino illuminato in acqua">
    <main>
      <%= yield %>
      <%= partial 'partials/awards' %>
      <%= partial 'partials/footer' %>
    </main>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js" ></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <%= javascript_include_tag "site" %>
    <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      spaceBetween: 10,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 60,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
       navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });
  </script>
  </body>
</html>
