<div class="card-container-horiz">
  <div id="<%= id %>" class="card card-horiz card-big" data-tilt data-tilt-perspective="3000">
    <h3><%= cardTitle %></h3>
    <div class="card-list">
      <ul>
        <li><a href="<%= listItem1[:url] %>"><%= listItem1[:text] %></a></li>
        <li><a href="<%= listItem2[:url] %>"><%= listItem2[:text] %></a></li>
        <li><a href="<%= listItem3[:url] %>"><%= listItem3[:text] %></a></li>
      </ul>
    </div>
    <a href="/en/extra-services/index.html" class="arrow-card-container">
      <div class="icon-arrow arrow-card"></div>
    </a>
  </div>
</div>
