<div class="card-container-half">
  <div id="<%= id %>" class="card card-vert card-big" data-tilt data-tilt-perspective="2000">
    <h3><%= cardTitle %></h3>
    <div class="card-list">
      <ul>
        <li><a href="<%= listItem1[:url] %>"><%= listItem1[:text] %><span class="icon-arrow arrow-link"></span></a></li>
        <li><a href="<%= listItem2[:url] %>"><%= listItem2[:text] %><span class="icon-arrow arrow-link"></span></a></li>
        <li><a href="<%= listItem3[:url] %>"><%= listItem3[:text] %><span class="icon-arrow arrow-link"></span></a></li>
      </ul>
    </div>
    <a href="#" class="arrow-card-container">
      <div class="icon-arrow arrow-card"></div>
    </a>
  </div>
</div>
