<div class="card-container-third">
  <div id="<%= id %>"
    class="card card-vert card-single"
    style="background-image:
    linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.65) 90%),
    url('<%= bgImg %>');"
    data-tilt
    data-tilt-perspective="2000">
    <h3><%= cardTitle %></h3>
    <div class="card-single-cta">
      <p><%= text %></p>
      <a href="<%= url %>" class="btn-card"><%= cta %></a>
    </div>
  </div>
</div>
