<nav id="nav" class="nav-closed">
  <div id="menu-icon">
      <div class="menu icon"></div>
  </div>
  <div class="nav-logo-2">
    <a href="<%= config[:host] %>/en/">
      <img src="/images/logo_DYME_MusicAgency.png" alt="">
    </a>
  </div>
  <div id="nav-links">
    <ul>
      <li><a href="<%= config[:host] %>/en/#weddings" alt="">WEDDINGS</a></li>
      <li><a href="<%= config[:host] %>/en/#events" alt="">EVENTS</a></li>
      <li><a href="<%= config[:host] %>/en/#gallery" alt="">GALLERY</a></li>
      <li><a href="<%= config[:host] %>/en/#chi-siamo" alt="">WHO WE ARE</a></li>
      <li><a href="<%= config[:host] %>/en/#contacts" alt="">CONTACT US</a></li>
    </ul>
  </div>
  <div id="nav-btn-group">
    <a id="btn-quotation" href="<%= config[:host] %>/en/request/quotation.html">REQUEST A QUOTE</a>
    <a id="btn-artist-collaboration" href="<%= config[:host] %>/en/request/collaborate.html">COLLABORATE AS AN ARTIST</a>
  </div>
  <div id="lang-container">
    <a id="ita" class="lang-link" href="<%= config[:host] %>/">ITA</a>
    <a id="eng" class="lang-link active" href="<%= config[:host] %>/en/">ENG</a>
  </div>
</nav>
