<nav id="nav" class="nav-closed">
  <div id="menu-icon">
      <div class="menu icon"></div>
  </div>
  <div class="nav-logo-2">
    <a href="<%= config[:host] %>/">
      <img src="/images/logo_DYME_MusicAgency.png" alt="">
    </a>
  </div>
  <div id="nav-links">
    <ul>
      <li><a href="<%= config[:host] %>/#weddings" alt="">MATRIMONI</a></li>
      <li><a href="<%= config[:host] %>/#events" alt="">EVENTI</a></li>
      <li><a href="<%= config[:host] %>/#gallery" alt="">GALLERY</a></li>
      <li><a href="<%= config[:host] %>/#chi-siamo" alt="">CHI SIAMO</a></li>
      <li><a href="<%= config[:host] %>/#contacts" alt="">CONTATTI</a></li>
    </ul>
  </div>
  <div id="nav-btn-group">
    <a id="btn-quotation" href="<%= config[:host] %>/request/quotation.html">RICHIEDI PREVENTIVO</a>
    <a id="btn-artist-collaboration" href="<%= config[:host] %>/request/collaborate.html">COLLABORA DA ARTISTA</a>
  </div>
  <div id="lang-container">
    <a id="ita" class="lang-link active" href="<%= config[:host] %>/">ITA</a>
    <a id="eng" class="lang-link" href="<%= config[:host] %>/en/">ENG</a>
  </div>
</nav>
