r<nav id="nav">
  <div class="nav-logo-2">
    <a href="<%= config[:host] %>/">
      <img src="/images/logo_DYME_MusicAgency.png" alt="">
    </a>
  </div>
  <div id="nav-links">
    <ul>
      <li><a class="smooth-scroll" href="<%= config[:host] %>/#weddings">MATRIMONI</a></li>
      <li><a class="smooth-scroll" href="<%= config[:host] %>/#events">EVENTI</a></li>
      <li><a class="smooth-scroll" href="<%= config[:host] %>/#gallery">GALLERY</a></li>
      <li><a class="smooth-scroll" href="<%= config[:host] %>/#chi-siamo">CHI SIAMO</a></li>
      <li><a class="smooth-scroll" href="<%= config[:host] %>/#contacts">CONTATTI</a></li>
    </ul>
  </div>
  <div id="nav-btn-group">
    <a id="btn-quotation" href="<%= config[:host] %>/request/quotation.html">RICHIEDI PREVENTIVO</a>
    <a id="btn-artist-collaboration" href="<%= config[:host] %>/request/collaborate.html">COLLABORA DA ARTISTA</a>
  </div>
</nav>
