<div id="page-header-bg"
style="background-image: linear-gradient(to top, var(--off-black) 0, rgba(0,0,0,0) 100%),
 url('<%= img_url %>');">
  <div class="top-page-btns">
    <div class="return-btn">
      <a href="<%= config[:host] %>/<%= urlRoot %>" class="home-link"><span class="left-arrow arrow-card"></span> <%= backBtn %></a>
    </div>
    <a class="btn-quotation-secondary" href="<%= config[:host] %>/request/quotation.html"><%= cta %></a>
  </div>
  <div class="page-title-container">
    <div class="page-category">
      <a href="<%= config[:host] %>/<%= urlRoot %>"><p>DYME</p></a><p><%= category %></p>
    </div>
    <div class="page-title">
      <h1><span class="underline"><%= h1 %></span></h1>
      <p><%= subheadline %></p>
    </div>
  </div>
</div>
