---
title: "DYME | Design Your Music Event - Music Agency for Events"
description: "DYME | Design Your Music Event - Music Agency for Events"
---
    <div id="logo-container">
      <div id="logo-group">
        <img src="/images/logo_DYME_MusicAgency.png" alt="DYME Music Agency">
        <div id="main-title-group">
          <h1><span> Progetta la tua musica con noi </span></h1>
          <p>Siamo un team di <strong>musicisti professionisti</strong> capaci di trovare soluzioni musicali adatte ad ogni occasione.</p>
        </div>
      </div>
    </div>
    <section class="business-unit-section">
        <%= partial(:'partials/card-big', :locals => {
          :cardTitle => "MATRIMONI",
          :id => "card-weddings",
          :ancorUrl => "#weddings",
          :listItem1 => {
            :text => "CERIMONIA",
            :url => "/weddings/cerimonia.html"
          },
          :listItem2 => {
            :text => "APERITIVO",
            :url => "/weddings/aperitivo.html"
          },
          :listItem3 => {
            :text => "PARTY",
            :url => "/weddings/party.html"
          }
        }) %>
        <%= partial(:'partials/card-big', :locals => {
          :cardTitle => "EVENTI",
          :id => "card-events",
          :ancorUrl => "#events",
          :listItem1 => {
            :text => "COCKTAIL",
            :url => "/events/cocktail.html"
          },
          :listItem2 => {
            :text => "AZIENDALE",
            :url => "/events/aziendale.html"
          },
          :listItem3 => {
            :text => "ANNIVERSARIO",
            :url => "/events/anniversario.html"
          }
        }) %>
        <%= partial(:'partials/card-horiz', :locals => {
          :cardTitle => "SERVIZI EXTRA",
          :id => "card-extra-services",
          :listItem1 => {
            :text => "ANIMAZIONE BAMBINI",
            :url => "/extra-services/index.html"
          },
          :listItem2 => {
            :text => "IMPIANTI AUDIO",
            :url => "/extra-services/index.html"
          },
          :listItem3 => {
            :text => "IMPIANTI LUCI",
            :url => "/extra-services/index.html"
          }
        }) %>
    </section>
    <section id="weddings" class="business-unit-section page-section">
      <div class="bg-section-img"></div>
      <h2><span class="underline">MATRIMONI</span></h2>
      <p>State organizzando un <em>Matrimonio</em>? Sei romantica e sei alla ricerca del giusto <em>accompagnamento musicale</em> che ti accompagni all’altare? Sei un tipo energico e vuoi dare alla tua cerimonia un <em>tocco di vivacità</em>? Decidete insieme a noi <em>la musica piú adatta per il vostro giorno più importante</em>!</p>
      <div class="card-container">
        <%= partial(:'partials/card-single', :locals => {
            :cardTitle => "CERIMONIA",
            :id => "card-cerimony",
            :bgImg => "/images/cerimonies_preview.jpg",
            :text => "Rendi indimenticabile il tuo giorno più importante",
            :url => "/weddings/cerimonia.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cardTitle => "APERITIVO",
            :id => "card-aperitif",
            :bgImg => "/images/aperitif_preview.jpg",
            :text => "L’aperitivo merita la giusta colonna sonora",
            :url => "/weddings/aperitivo.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cardTitle => "PARTY",
            :id => "card-party",
            :bgImg => "/images/party_preview.jpg",
            :text => "Scatenati con i tuoi invitati",
            :url => "/weddings/party.html"
          }) %>
      </div>
    </section>
    <section id="events" class="page-section">
      <div class="bg-section-img"></div>
      <h2><span class="underline">EVENTI</span></h2>
      <p>Stai organizzando un <em>Evento</em>?<br>
      La scelta dell’intrattenimento musicale è ciò che fa la differenza, affida il tuo evento a DYME MUSIC!
      </p>
      <div class="card-container">
        <%= partial(:'partials/card-single', :locals => {
            :cardTitle => "COCKTAIL",
            :id => "card-cocktail",
            :bgImg => "/images/cocktail_preview.jpg",
            :text => "Personalizza il tuo cocktail con la musica più adatta",
            :url => "/events/cocktail.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cardTitle => "AZIENDALE",
            :id => "card-business",
            :bgImg => "/images/business_preview.jpg",
            :text => "Stupisci tutti con la giusta musica",
            :url => "/events/aziendale.html"
          }) %>
        <%= partial(:'partials/card-single', :locals => {
            :cardTitle => "ANNIVERSARIO",
            :id => "card-anniversary",
            :bgImg => "/images/anniversary_preview.jpg",
            :text => "Rendi memorabile un giorno importante",
            :url => "/events/anniversario.html"
          }) %>
      </div>
    </section>
    <section id="gallery" class="page-section">
      <h2><span class="underline">GALLERY</span></h2>
      <p>La musica è un libro che puoi leggere anche a occhi chiusi.</p>
      <div class="gallery-container">
        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <%
              images = [
                {img: "dyme_01.jpg", alt: "Yo"},
                {img: "dyme_02.jpg", alt: "Yo"},
                {img: "dyme_03.jpg", alt: "Yo"},
                {img: "dyme_04.jpg", alt: "Yo"},
                {img: "dyme_05.jpg", alt: "Yo"},
                {img: "dyme_06.jpg", alt: "Yo"},
                {img: "dyme_07.jpg", alt: "Yo"},
                {img: "dyme_08.jpg", alt: "Yo"},
                {img: "dyme_09.jpg", alt: "Yo"},
                {img: "dyme_10.jpg", alt: "Yo"},
                {img: "dyme_11.jpg", alt: "Yo"},
                {img: "dyme_12.jpg", alt: "Yo"},
              ]
              images.each do |slide|
             %>
            <div class="swiper-slide">
              <div class="imgBx">
                <img src="/images/gallery/<%= slide[:img] %>" alt="<%= slide[:alt] %>">
              </div>
            </div>
            <% end %>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <section id="chi-siamo" class="page-section">
      <h2><span class="underline">CHI SIAMO</span></h2>
      <p>Un team di artisti, curiosi, creativi e entusiasti, determinato a migliorare la qualità dell’intrattenimento del tuo evento, rendendo finalmente semplice ed economica la scelta della musica!</p>
      <!-- <img id="map" src="/images/map.jpg" alt="Mappa di dove lavoriamo."> -->
    </section>
    <section id="contacts" class="page-section">
      <h2><span class="underline">CONTATTI</span></h2>
      <div id="social-contacts">
        <div class="social-btns">
          <a href="#" target="_blank"><img src="/images/logo_facebook.svg" alt="facebook"></a>
          <a href="#" target="_blank"><img src="/images/logo_instagram.svg" alt="instagram"></a>
          <a href="#" target="_blank"><img src="/images/logo_matrimoni.svg" alt="matrimoni.it"></a>
          <a href="#" target="_blank"><img src="/images/logo_linkedin.svg" alt="linkedin"></a>
        </div>
        <a href="#" class="email-link">dyme.music@gmail.com <div class="icon-arrow arrow-card"></div></a>
      </div>
      <div class="card-container">
        <%= partial(:'partials/card-contact', :locals => {
          :cardTitle => "LORENZO<br>BONGIOVANNI",
          :bgImg => "/images/lorenzo-bongiovanni.jpg",
          :phone => "+39 393 485 7805"
        }) %>
        <%= partial(:'partials/card-contact', :locals => {
          :cardTitle => "DAVIDE<br>MOSCA",
          :bgImg => "/images/davide-mosca.jpg",
          :phone => "+39 340 177 5252"
        }) %>
      </div>
    </section>
    <hr id="awards-divider">
